// main: style.scss

@import "variables.scss";
/*-----HEADER SOCIAL ICONS-----*/
header {
  position: relative;
  ul.social {
    position: absolute;
    bottom: .5rem;
    right: $gutter;
  }
  ul.social li {
    width: auto;
  }




} // end header

/*  ------------- MAIN -------------  */
main {

  /*  ------------- COLUMN LAYOUT -------------  */

  //Going from 1 through 12 to create a 12 column grid:
  @for $i from 1 through 12 {
  	$w: ($i / 12) * 100%;
  	.medium-#{$i} {
  		width: $w;
  		float: left;
  	 }
  }


} // end main
