// main: style.scss
@import "variables";
/*  ------------- NAV -------------  */
nav {
	ul {
		margin-left: 2%;
		border-left: 1px solid rgba(0,0,0,0.3);
		li {
			width: auto;
			li:last-child {
				border-right: 1px solid rgba(0,0,0,0.3);
			} //end li:last-child
			a {
				padding: .5rem 1rem;
			} //end a
		} //end li
	} //end ul

} // end nav



/*  ------------- MAIN -------------  */
main {
	margin: auto;

	div.parent {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		article:nth-child(1) {
			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
		}
		article:nth-child(2) {
			grid-column: 3 / span 2;
		}
	}


} // end main
